*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$color-primary:rgb(255, 79, 90);
$color-second:rgb(188, 52, 62);
$color-text:rgb(128, 128, 128);
$color-fondo:#fff;
$color-box:#e4e0e0;
$color-dark:#000;
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
*/

a,.input-search,h2,label{
    font-family: 'Roboto', sans-serif;
}
.btn,span,.price-total,.star,p,h3{
    font-family: 'Roboto', sans-serif;
}

.menu-nav{
    border-bottom:solid 1px $color-text;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    .nav-left{
        display: flex;
        align-items: center;
        .ctn-input-search{
            position: relative;
            .button-search,.input-search{
                height: 40px;
                margin-left: 20px;
                outline: none;
            }
            .input-search{
                padding-left: 15px;
                width: 230px;
                border-radius: 15px;
                border:solid 1px $color-text;
                font-weight: 200;
                letter-spacing: 1px;
            }
            .button-search{
                right:1rem;
                position: absolute;
                background: transparent;
                border: none;
                i{
                    color: $color-text;
                    font-size: 22px;
                }
            }
        }
        .img-logo{
        height:40px ;
        }

    }
    .button-nav{
        width: 100px;
        height: 40px;
        background: $color-text;
        border: none;
        &:hover{
            background: $color-box;
            a{
                color: $color-dark;
            }
        }
        a{
            font-weight: 500;
            text-decoration: none;
            color: #fff;
            
        }
    }
}
//estylos de la sesion categorias
h2{
    font-weight: 500;
    span{
        font-weight: 300;
    }
}
.main,.ctn-info{
    display: flex;
}
.category,.view-map,.select-category,.type-category,.range-price,.star{
    display: flex;
}
.category{
    max-width: 350px;
    width: 33%;
    flex-direction: column;
    margin-left: 3rem;
    border: none;
    box-shadow: 3px 1px 4px  $color-text;
    border-right: 1px solid $color-text;
    padding-right: 1rem;
    h2{
        margin-top: 2rem;
    }
    .view-map{
        margin-top: 2rem;
        justify-content: space-between;
        align-items: center;
        h2{
            margin-top: 0;
            font-size: 24px;
        }
        .siwtch{
            border: solid 1px $color-text;
            position: relative;
             height: 25px;
             width: 50px;
             margin-right: 1rem; 
             border-radius: 2px;  
            .siwtch-check{
                position: relative;
                width: 50%;
                height: 100%;
                left:0;
                border: none;
                outline: none;
                opacity: 0;
                &:checked ~ label{
                        right: unset;
                        left:0;
                }
            }
            .on-siwtch{
                border-radius: 2px;
                right: 0;
                width: 25px;
                height: 100%;
                position: absolute;
                background: $color-text;
                content: "";
            }
        }
    }
     .select-category{
         justify-content: space-evenly;
        .btn{
            background: transparent;
            border-radius: 5px;
            border: solid 2px $color-text;
            height: 50px;
            width: 150px;
            margin-top: 1rem;
            outline: none;
            margin-right: 10px;
            &:active{
                background: $color-dark;
                color: $color-box;
                font-weight: 400;
            }
        }
     }
     .type-category{
        justify-content: space-between;
         .input-check-category,.label-check-category{
             margin: 10px;
             display: flex;    
             flex-direction: column;
         }
         .input-check-category{
             input{
                 margin: 5px;
                 width:19px;
                 height:19px;
             }
         }
         .label-check-category{
             label{
                 margin: 5px;
             }
         }
    }
    .range-price{
        align-items: center;
        margin-top: 2rem;
        input[type='range'],
        input[type='range']::-webkit-slider-runnable-track,
        input[type='range']::-webkit-slider-thumb {
        -webkit-appearance: none;
        }
        input[type='range']{
            width: 75%;
            &:focus {
                outline: none;
              }
            &::-webkit-slider-thumb{
                background-color: #777;
                width: 20px;
                height: 20px;
                border: 3px solid #fff;
                border-radius: 50%;
                margin-top: -9px;
            }
            &::-moz-range-thumb{
                background-color: #777;
                width: 15px;
                height: 15px;
                border: 3px solid #fff;
                border-radius: 50%;
            }
            &::-ms-thumb{
                background-color: #777;
                width: 20px;
                height: 20px;
                border: 3px solid #fff;
                border-radius: 50%;
            }
            &::-webkit-slider-runnable-track{
                background-color: #777;
                height: 3px;
            }
            &:focus::-webkit-slider-runnable-track {
                outline: none;
              }
              &::-moz-range-track {
                background-color: #777;
                height: 3px;
              }
              &::-ms-track {
                background-color: #777;
                height: 3px;
              }
              &::-ms-fill-lower {
                background-color: HotPink
              }
        }
        span{
            margin: 0 5px 0 5px;
            
        }
    }
    .price-total{
        margin-top: 1rem;
    }
    .star{
        align-items: center;
        justify-content: center;
        div{
            height: 35px;
            background: $color-box;
            width: 35%;
            margin: 1em;
            border-radius: 5px;
            &:nth-child(2){
                width: 30%;
            }
        }
        
    }
}
.ctn-map{
    .map{
        align-items: center;
        justify-content: center;
        background-origin: 25px;
        width: 550px;
        height: 90%;
        background: $color-primary;
        margin:2rem;
        border-radius: 25px;
        content: "";
    }
}

.contens{
    max-height: 636px;
    overflow: scroll;
    h2{
        margin-top: 2rem;
    }
    .ctn-result{
        margin-top: 2rem;
        img{
            width: 85%;
            border-radius: 20px;
        }
        .ctn-info{
            margin-top: 0.5rem;
            width: 85%;
            justify-content: space-between;
        }
    }
}