//variable para colores
$color-primary:rgb(255, 79, 90);
$color-second:rgb(188, 52, 62);
$color-text:rgb(128, 128, 128);
$color-fondo:#fff;
$color-box:#e4e0e0;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body{
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.ctn-form,.ctn-img,.icon-social{
    display: flex;
}
.ctn-img{
    display: none;
}
.ctn-form{
    text-align: left;
    flex-direction: column;
    width: 100%;
    max-width: 375px;
}
form{
    width: 100%;
    height: 100%;
    margin: auto;

}
label,h1,h2,button,.input,a{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
a{
    &:hover{
        color:$color-text;
    }
}
h2{
    color: $color-text;
    font-size: 17px;
    margin: 1rem 0;
}
h1{
    margin:2rem 1rem;
    font-size: 25px;
}

label{
    margin: 10px;
    text-align: left;
    color: $color-text;
}
.input{
    outline: 0;
    border: solid 1px $color-box;
    height:40px;
    width: 90%;
    background:#fff ;
    margin: 10px;
    box-shadow: 1px 1px 4px 0px $color-box;
    font-weight: bold;
    color: $color-text;
    padding-left: 1rem;
}
label,.input{
    margin-left: 1rem;
}
.check{
    width: 20px;
    height: 20px;
    &:checked{
        background: $color-primary;
    }
}
.label-check{
    margin-left: 0;
    font-weight: 500;
}
.check,.label-check{
    flex-direction: row;
}
.ctn-bottons,.ctn-terminos{
    display: flex;
}
.ctn-terminos{
    margin-top: 1rem;
}
.registrar{
    background: $color-primary;
}
.ingresar{
    background: $color-second;
}
.ctn-bottons{
    justify-content: space-between;
    margin: 1rem;
}
.registrar,.ingresar{
    height: 40px;
    width: 130px;
    border: solid 1px #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    outline: none;
    &:active{
        border: #7E1919 ;
    }
    a{
        text-decoration: none;
        color: $color-fondo;
    }
}
.registrar{
    &:hover{
        background: #C70039 ;
        box-shadow: 3px 2px 12px #c70039;
        border: #900C3F;
    }
}
.ingresar{
    &:hover{
        background: #581845 ;
        box-shadow: 3px 2px 12px #581845;
        border: #F82605 ;
    }
}
.registro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fab{
    font-size: 35px;
    color: $color-text;
    width: 50%;
}
.fa-google{
    margin: 0rem 1.5rem 0 0;
}
.icon-social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ctn-password{
    position: relative;
    width: auto;
    height: auto;
    i{
        position:absolute;
        margin: auto;
        top:22px;
        right: 3rem;
        color: $color-text;
    }
}
@media (min-width: 768px){
    .ctn-img{
        display: block;
        min-width: 400px;
        width: 600px;
        height: auto;
    }
    .ctn-form{
        max-width: 470px;
        min-width: 350px;
    }
    // label,.input{
      
    // }
    h1{
        margin:3rem;
        margin-left: 2rem;
        font-size: 32px;
    }
    .input{
        width: 80%;
    }
    label,.input{
        margin-left: 2rem;
    }
    .check{
        width: 20px;
        height: 20px;
        &:checked{
            background: $color-primary;
        }
    }
    .ctn-terminos{
        margin-top: 2rem;
    }
    .ctn-bottons{
        justify-content: left;
        margin: 0;
    }
    .registrar,.ingresar{
        width: 170px;
        margin:1rem 1rem 1rem 2rem;
    }
    .registro{
        margin-left:2rem ;
        width: 80%;
    }
    .fab{
        font-size: 35px;
    }
    .ctn-password{
      
        i{       
            right: 5rem;
        }
    }
}
