.main-user-profile{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    z-index: -1;
    .father{
        display: flex;
        width: 30%;
        padding: 2%;
        .ajustes{
            width: 100%;
            justify-content: center;
            padding:10px;
            h1{ 
                width: 70%;
                font-size: 1.7em;
                font-family: 'Roboto Slab', serif;
                font-weight: 800;

            }
            .menu{
                width: 100%;
                display: flex;
                flex-direction: column;
                
                a{
                    width: 100%;
                    font-size: 1em;
                    font-family: 'Roboto Slab', serif;
                    padding: 5px;
                    color: #000000;
                }
            }
        }
    }
    .informacion{
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 50px;
        .clip{
            clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
            z-index: -1;
            height: 350px;
            width: 100%;
            background-color:rgb(243, 204, 215);
        }
        .h2{
            font-family: 'Roboto Slab', serif;
            text-align: start;
            font-size: 2em;
            font-weight: 800;
            padding: 20px;
        }
        .nombre{
            display: flex;
            flex-direction: column;
            padding: 2% 20%;
            position: relative;
            bottom: 300px;
            label{
                text-align: start;
                font-family: 'Roboto Slab', serif;
                font-size: 1em;
            }
            input{
                width: 80%;
                border-radius: 5px;

            }
        }
        .boton{
            position: relative;
            bottom: 270px;
            display: flex;
            justify-content: center;
            button{
                width: 10%;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid rgb(243, 204, 215);
                font-size: .5em;
                font-family: 'Roboto Slab', serif;
                background-color: #FFFFFF;
                color:  #818080;
            }
        }
    }
    .profile{
        width: 30%;
        div{
            display: flex;
            align-items: flex-start;
            width: 50%;
            img{
                width: 200px;
                height: 200px;
                border-radius: 50%;
                margin: 100px;
            }
            button{
                position: absolute;
                top: 70%;
                right: 4%;
                width: 50px;
                padding: 10px;
                border-radius: 10px;
                border: 1px solid rgb(243, 204, 215);
                font-size: .5em;
                font-family: 'Roboto Slab', serif;
                background-color: #FFFFFF;
                color:  #818080;
            }
        
        }
    }
    
} 
@media screen and (min-width: 1000px) {
    .main-user-profile{
        .profile{
            div{
               button{
                    position: absolute;
                    top: 70%;
                    right: 15%; 
                }
           }
       }
   } 
}

