/*
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px;
}
.header .logo {
  width: 100px;
}
.header .logo .img-logo {
  width: 100%;
}
.header .menu-container .menu-check {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.header .menu-container .menu-check:checked ~ label .icon-menu {
  display: none;
}
.header .menu-container .menu-check:checked ~ label .closed {
  display: block;
}
.header .menu-container .menu-check:checked ~ .menuLogin {
  display: block;
}
.header .menu-container .icon-menu {
  cursor: pointer;
}
.header .menu-container .icon-menu .fas {
  font-size: 30px;
  color: #ff4f5a;
}
.header .menu-container .closed .fas {
  font-size: 30px;
  color: #ff4f5a;
}
.header .menu-container .closed, .header .menu-container .menuLogin {
  display: none;
}
.header .menu-container .menuLogin {
  position: absolute;
  top: 90px;
  left: 0;
  background: rgba(255, 79, 90, 0.9);
  width: 100%;
  height: 100%;
}
.header .menu-container .menuLogin .con-item {
  padding: 16px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
  border-bottom: 1px solid #bc343e;
}
.empty{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-empty{
  font-family: "Quicksand", sans-serif;
  font-weight: 500;

}
.img-empty{
  border-radius: 44px;
    object-fit: cover;
    width: 241px;
}
.favoritos {
  height: auto;
  margin: 0 0 0 20px;
}
.favoritos .title {
  text-align: center;
  margin: 0 20px 20px 0;
}
.favoritos .title .text {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #ff4f5a;
  line-height: 23px;
}
.favoritos .content-card {
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.favoritos .content-card .favoritos-card {
  display: flex;
  height: max-content;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  margin: 10px;
  max-width: 200px;
  border-radius: 20px;
  box-shadow: 1px 7px 14px -7px gray;
  cursor: pointer;
}
.favoritos .content-card .favoritos-card .img {
  width: 100%;
  border-radius: 20px;
}
.favoritos .content-card .favoritos-card .name {
  text-align: start;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: black;
  line-height: 23px;
  margin: 5px 0 0 10px;
}
.favoritos-card .ctn-informacion{
  width: 100%;
align-items: center;
  display: flex;
  justify-content: space-between;
}
.favoritos-card .fa-trash-alt{
  margin: 1rem;
}
.favoritos .content-card .favoritos-card .info .ubicacion {
  display: flex;
  align-items: center;
  margin: 5px 0 0 10px;
  height: 10px;
}
.favoritos .content-card .favoritos-card .info .ubicacion .fas {
  font-size: 12px;
  color: #ff4f5a;
  margin: 0 3px 0 0;
}
.favoritos .content-card .favoritos-card .info .ubicacion .tienda {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: gray;
  line-height: 23px;
}
.favoritos .content-card .favoritos-card .info .precio {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #ff4f5a;
  line-height: 23px;
  margin: 10px 0 20px 10px;
}
.favoritos .content-card .favoritos-card .favorito .far {
  font-size: 20px;
  color: #ff4f5a;
  margin: 30px 0 0 0;
  display: none;
}
.favoritos .content-card .favoritos-card .favorito .fas {
  font-size: 20px;
  color: #ff4f5a;
  margin: 30px 0 0 0;
}
.favoritos .content-card .favoritos-card .favorito:hover .far {
  display: block;
}
.favoritos .content-card .favoritos-card .favorito:hover .fas {
  display: none;
}
.favoritos .content-card .favoritos-card .add .fas {
  font-size: 20px;
  color: #ff4f5a;
  margin: 30px 15px 0 0;
}
.favoritos .content-card .favoritos-card .add:hover .fas {
  color: #bc343e;
}

.footer {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .text {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: gray;
  line-height: 23px;
}
.footer .icons {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.footer .icons .fab {
  font-size: 20px;
  color: gray;
}
.footer .icons .fab:hover {
  color: #636363;
}
.footer .rights {
  margin: 10px 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: gray;
  line-height: 23px;
}

@media (min-width: 768px) {
  .header .logo {
    width: 200px;
  }
  .header .menu-container .menu-check, .header .menu-container .icon-menu, .header .menu-container .closed {
    display: none;
  }
  .header .menu-container .menuLogin {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #fff;
  }
  .header .menu-container .menuLogin .con-item {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: gray;
    line-height: 16px;
    letter-spacing: 0;
    border: none;
  }

  .popular .title {
    text-align: center;
    margin: 0 20px 40px 0;
  }
  .popular .title .text {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #ff4f5a;
    line-height: 23px;
  }
}

/*# sourceMappingURL=favoritos.css.map */
