.search-card{
    width: 200px;
    height: auto;
    flex-direction: column;
}
.ctn-action,.search-card,.ctn-info{
    display: flex;
}

.search-card .img{
    width: 100%;
}
* i{
    margin: 0.5rem;
    color:#ff4f5a;
}

.ctn-info{
    justify-content: space-between;
}


.favorito .fas{
    display: none;
}

.search-card .favorito:hover .far{
    display: none;
}

.search-card .favorito:hover .fas{
    display: block;
}
.container-offert{
    display: flex;
    flex-wrap: wrap;
}